In [1]:
import os
import sys

In [2]:
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.insert(0, module_path)

In [3]:
sys.path

['/Users/gabriel/Documents/projects/nuorganics/spectroscopy',
 '/Users/gabriel/Documents/projects/nuorganics/spectroscopy/analysis',
 '/Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.7/lib/python37.zip',
 '/Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.7/lib/python3.7',
 '/Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.7/lib/python3.7/lib-dynload',
 '',
 '/Users/gabriel/Documents/projects/nuorganics/spectroscopy/.spectroscopy/lib/python3.7/site-packages',
 '/Users/gabriel/Documents/projects/nuorganics/spectroscopy/.spectroscopy/lib/python3.7/site-packages/IPython/extensions',
 '/Users/gabriel/.ipython']

In [10]:
from spectroscopy.utils import load_training_data, parse_abs_files, get_wavelength_columns

# load in training data

In [5]:
data = load_training_data()

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Columns: 517 entries, 862.13 to Ammonia-N
dtypes: float64(511), object(6)
memory usage: 387.9+ KB

In [7]:
data.describe()

,862.13,863.88,865.63,867.38,869.13,870.88,872.63,874.38,876.13,877.88,...,1738.88,1740.63,1742.38,1744.13,1745.88,1747.63,1749.38,1751.13,1752.88,Ammonia-N
count,9.600000e+01,9.600000e+01,9.600000e+01,96.000000,96.000000,96.000000,96.000000,96.00000,96.000000,96.000000,...,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000
mean,1.000000e-03,1.000000e-03,1.000000e-03,-22.240277,-83.397928,-17.856960,60.262937,62.50099,62.055229,60.223781,...,54.825083,54.946271,55.084667,55.206042,55.292979,55.358396,55.430375,55.516292,55.625792,0.378125
std,2.179787e-19,2.179787e-19,2.179787e-19,78.400637,306.947040,178.280043,8.797055,8.87673,8.866235,8.819435,...,9.566774,9.560269,9.547924,9.538950,9.543365,9.554521,9.558817,9.558564,9.543163,0.356398
min,1.000000e-03,1.000000e-03,1.000000e-03,-219.800000,-831.610000,-424.710000,35.295000,36.58600,36.099000,34.592000,...,30.166000,30.291000,30.434000,30.538000,30.640000,30.768000,30.876000,30.999000,31.153000,0.120000
25%,1.000000e-03,1.000000e-03,1.000000e-03,-32.401250,-132.792500,-53.935500,57.169000,59.12750,58.713000,56.984250,...,51.008750,51.129750,51.268750,51.368000,51.377000,51.376250,51.391750,51.435250,51.555250,0.207500
50%,1.000000e-03,1.000000e-03,1.000000e-03,-13.299500,-50.816000,-3.153650,61.323500,63.46150,62.906500,61.202000,...,55.862000,55.935500,56.041500,56.159000,56.247500,56.335500,56.446000,56.577000,56.677000,0.330000
75%,1.000000e-03,1.000000e-03,1.000000e-03,16.248750,58.035750,53.004500,66.452250,68.46875,68.093750,66.410000,...,61.000500,61.141000,61.309250,61.440000,61.523750,61.544250,61.555000,61.646500,61.728750,0.412500
max,1.000000e-03,1.000000e-03,1.000000e-03,101.090000,464.490000,369.440000,76.971000,78.99300,78.589000,76.930000,...,73.463000,73.491000,73.553000,73.608000,73.651000,73.713000,73.801000,73.876000,73.898000,2.240000

# load in abs files

In [8]:
df_abs = parse_abs_files()

## add in prefixes to columns to differentiate between absorbance and transmittance

In [14]:
transmittance_columns = get_wavelength_columns(data)

In [20]:
data[transmittance_columns] = data[transmittance_columns].add_prefix('trans_')

# join data on sample_name

In [21]:
df = data.join(df_abs.set_index('sample_name')[get_wavelength_columns(df_abs)], on='sample_name')\
            .reset_index(drop=True)
#             .set_index(["sample_name", 'run_number'])

In [22]:
df.head()

,862.13,863.88,865.63,867.38,869.13,870.88,872.63,874.38,876.13,877.88,...,1737.13,1738.88,1740.63,1742.38,1744.13,1745.88,1747.63,1749.38,1751.13,1752.88
0,0.001,0.001,0.001,-27.772,-110.08,-43.024,50.165,52.641,52.146,50.020,...,0.39460,0.39380,0.39240,0.39061,0.38894,0.38818,0.38818,0.38764,0.38642,0.38468
1,0.001,0.001,0.001,-27.772,-110.08,-43.024,50.165,52.641,52.146,50.020,...,0.40245,0.40084,0.39901,0.39711,0.39536,0.39391,0.39303,0.39189,0.39076,0.38956
2,0.001,0.001,0.001,-27.772,-110.08,-43.024,50.165,52.641,52.146,50.020,...,0.37588,0.37494,0.37349,0.37164,0.37001,0.36874,0.36775,0.36652,0.36488,0.36257
3,0.001,0.001,0.001,-205.520,-785.09,-407.910,44.607,46.916,46.875,45.709,...,0.39555,0.39462,0.39310,0.39080,0.38914,0.38871,0.38869,0.38851,0.38840,0.38785
4,0.001,0.001,0.001,-205.520,-785.09,-407.910,44.607,46.916,46.875,45.709,...,0.39171,0.39143,0.39032,0.38811,0.38642,0.38636,0.38685,0.38731,0.38766,0.38690

In [23]:
df.columns

Index(['862.13', '863.88', '865.63', '867.38', '869.13', '870.88', '872.63',
       '874.38', '876.13', '877.88',
       ...
        1737.13,  1738.88,  1740.63,  1742.38,  1744.13,  1745.88,  1747.63,
        1749.38,  1751.13,  1752.88],
      dtype='object', length=1027)