In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.insert(0, module_path)
from pathlib import Path

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
from spectroscopy.utils import load_training_data, plot_residuals, get_wavelength_columns, parse_trm_files

In [4]:
from spectroscopy.model import load_model, get_features

In [5]:
df_trms = parse_trm_files()
# fill negative values of trms
# wavelength_columns = get_wavelength_columns(df_trms)
# df_trms[df_trms[wavelength_columns] < 0][wavelength_columns] = 0
num = df_trms._get_numeric_data()

num[num < 0] = 0

In [6]:
num[num < 0]

,862.13,863.88,865.63,867.38,869.13,870.88,872.63,874.38,876.13,877.88,...,1737.13,1738.88,1740.63,1742.38,1744.13,1745.88,1747.63,1749.38,1751.13,1752.88
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
model = load_model(model_dir=Path().cwd().parent/'bin'/'model')

In [8]:
data = load_training_data()

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Columns: 519 entries, 862.13 to filename_lr
dtypes: float64(511), int64(2), object(6)
memory usage: 811.1+ KB

In [10]:
data.describe()

,862.13,863.88,865.63,867.38,869.13,870.88,872.63,874.38,876.13,877.88,...,1742.38,1744.13,1745.88,1747.63,1749.38,1751.13,1752.88,integration_time,run_number,Ammonia-N
count,2.000000e+02,2.000000e+02,2.000000e+02,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,...,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,1.000000e-03,1.000000e-03,1.000000e-03,9.901022,38.542137,32.564984,58.357895,60.640615,60.167605,58.186190,...,53.611455,53.735745,53.825630,53.894620,53.970890,54.062445,54.179170,40.300000,1.885000,0.360300
std,2.173846e-19,2.173846e-19,2.173846e-19,20.351293,86.473192,65.745699,11.230318,11.456488,11.405822,11.201562,...,10.802835,10.800146,10.807613,10.819466,10.825458,10.828973,10.825276,2.728962,0.833817,0.305992
min,1.000000e-03,1.000000e-03,1.000000e-03,0.000000,0.000000,0.000000,15.144000,15.920000,15.825000,15.246000,...,15.858000,15.925000,15.931000,15.938000,15.998000,16.056000,16.092000,35.000000,1.000000,0.070000
25%,1.000000e-03,1.000000e-03,1.000000e-03,0.000000,0.000000,0.000000,53.981750,56.363750,55.722500,53.735250,...,48.947000,49.035500,49.086500,49.127000,49.153500,49.188000,49.315750,40.000000,1.000000,0.200000
50%,1.000000e-03,1.000000e-03,1.000000e-03,0.000000,0.000000,0.000000,59.711000,62.551000,61.969000,59.574000,...,53.961000,54.109500,54.210500,54.258500,54.314000,54.390000,54.477000,40.000000,2.000000,0.320000
75%,1.000000e-03,1.000000e-03,1.000000e-03,12.838500,39.724000,41.280500,66.054000,68.343000,67.796750,65.645750,...,61.219500,61.312750,61.422000,61.478000,61.494250,61.622250,61.709750,40.000000,3.000000,0.440000
max,1.000000e-03,1.000000e-03,1.000000e-03,101.090000,464.490000,369.440000,76.971000,78.993000,78.589000,76.930000,...,73.553000,73.608000,73.651000,73.713000,73.801000,73.876000,73.898000,45.000000,3.000000,2.240000

In [11]:
data['sample_name'].value_counts()

hampton west 2     10
hampton east 2      9
south 16            6
south 17            6
south 15            6
south 2             6
south 1             6
hampton west        6
south 9             6
hampton west 1      4
south 8             4
north 2             4
north 3             4
south 3             4
north 4             4
north 5             4
north 1             4
north 7             4
north 6             4
south 4             4
south 7             4
north 9             4
south 11            4
south 18            4
south 12            4
south 10            4
south 5             4
south 6             4
north 8             4
south 13            4
south 14            4
north 10            3
north 12            3
dows dry            3
north 11            3
dows wet            3
hampton coulter     3
iowa falls          3
west 13             3
north 18            3
north 14            3
hampton east 1      3
west 12             3
north 16            3
north 13            3
west 14             3
hampton east        3
north 17            3
Name: sample_name, dtype: int64

In [12]:
feature_columns = get_features(data)
X, y = data[feature_columns], data['Ammonia-N']

KeyError: "[nan, 'ground', 'moist'] not in index"

In [ ]:
feature_columns

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=10)

In [ ]:
y_train.hist()

In [ ]:
y_test.hist()

In [ ]:
plot_residuals(y_test, model.predict(X_test))

In [ ]:
len(X), len(X_test), len(X_train)

In [ ]:
assert (X_test.index == y_test.index).all()

# view highest error samples

In [13]:
def rank_error(model, X, y_true, original_data, n_instances=50):
    y_pred = model.predict(X)
    # calculate error metrics
    residuals = y_true - y_pred
    abs_residuals = np.abs(residuals)
    # get indices of highest error
    abs_res_indices = np.argsort(abs_residuals)[::-1][:n_instances]
    # pull training samples with highest error
    X_ranked = X.iloc[abs_res_indices]
    # pull original data corresponding to those training samples
    high_error_data = data.iloc[X_ranked.index].copy()
    high_error_data['predicted_Ammonia-N'] = y_pred[abs_res_indices]
    high_error_data['absolute_residual'] = abs_residuals.iloc[abs_res_indices]
    high_error_data['residual'] = residuals.iloc[abs_res_indices]
    return high_error_data

In [14]:
data_ranked = rank_error(model, X_test, y_test, data)

NameError: name 'X_test' is not defined

In [15]:
data_ranked

NameError: name 'data_ranked' is not defined

In [16]:
data_ranked.to_csv('data_ranked_by_residuals.csv')

NameError: name 'data_ranked' is not defined

In [17]:
X['process_method']

NameError: name 'X' is not defined

In [70]:
df = load_training_data()
# df = df[df['process_method'] == 'ground']
df['process_method'].fillna('none', inplace=True)
df['process_method'] = df['process_method'].astype(str)

In [71]:
len(df)

200

In [72]:
df['process_method'].value_counts(dropna=False)

none      132
ground     53
moist      15
Name: process_method, dtype: int64

In [73]:
df['process_method'].unique()

array(['none', 'moist', 'ground'], dtype=object)

In [74]:
pd.get_dummies(df['process_method'])

     ground  moist  none
0         0      0     1
1         0      0     1
2         0      1     0
3         0      0     1
4         1      0     0
..      ...    ...   ...
195       1      0     0
196       1      0     0
197       0      0     1
198       0      0     1
199       0      0     1

[200 rows x 3 columns]

In [75]:
df = pd.concat([df, pd.get_dummies(df['process_method'])], axis=1)

In [76]:
df['process_method'].unique()

array(['none', 'moist', 'ground'], dtype=object)

In [77]:
feature_columns = get_features(df)
feature_columns

['862.13',
 '863.88',
 '865.63',
 '867.38',
 '869.13',
 '870.88',
 '872.63',
 '874.38',
 '876.13',
 '877.88',
 '879.63',
 '881.38',
 '883.13',
 '884.88',
 '886.63',
 '888.38',
 '890.13',
 '891.88',
 '893.63',
 '895.38',
 '897.13',
 '898.88',
 '900.63',
 '902.38',
 '904.13',
 '905.88',
 '907.63',
 '909.38',
 '911.13',
 '912.88',
 '914.63',
 '916.38',
 '918.13',
 '919.88',
 '921.63',
 '923.38',
 '925.13',
 '926.88',
 '928.63',
 '930.38',
 '932.13',
 '933.88',
 '935.63',
 '937.38',
 '939.13',
 '940.88',
 '942.63',
 '944.38',
 '946.13',
 '947.88',
 '949.63',
 '951.38',
 '953.13',
 '954.88',
 '956.63',
 '958.38',
 '960.13',
 '961.88',
 '963.63',
 '965.38',
 '967.13',
 '968.88',
 '970.63',
 '972.38',
 '974.13',
 '975.88',
 '977.63',
 '979.38',
 '981.13',
 '982.88',
 '984.63',
 '986.38',
 '988.13',
 '989.88',
 '991.63',
 '993.38',
 '995.13',
 '996.88',
 '998.63',
 '1000.38',
 '1002.13',
 '1003.88',
 '1005.63',
 '1007.38',
 '1009.13',
 '1010.88',
 '1012.63',
 '1014.38',
 '1016.13',
 '1017.88',
 '1019.63',
 '1021.38',
 '1023.13',
 '1024.88',
 '1026.63',
 '1028.38',
 '1030.13',
 '1031.88',
 '1033.63',
 '1035.38',
 '1037.13',
 '1038.88',
 '1040.63',
 '1042.38',
 '1044.13',
 '1045.88',
 '1047.63',
 '1049.38',
 '1051.13',
 '1052.88',
 '1054.63',
 '1056.38',
 '1058.13',
 '1059.88',
 '1061.63',
 '1063.38',
 '1065.13',
 '1066.88',
 '1068.63',
 '1070.38',
 '1072.13',
 '1073.88',
 '1075.63',
 '1077.38',
 '1079.13',
 '1080.88',
 '1082.63',
 '1084.38',
 '1086.13',
 '1087.88',
 '1089.63',
 '1091.38',
 '1093.13',
 '1094.88',
 '1096.63',
 '1098.38',
 '1100.13',
 '1101.88',
 '1103.63',
 '1105.38',
 '1107.13',
 '1108.88',
 '1110.63',
 '1112.38',
 '1114.13',
 '1115.88',
 '1117.63',
 '1119.38',
 '1121.13',
 '1122.88',
 '1124.63',
 '1126.38',
 '1128.13',
 '1129.88',
 '1131.63',
 '1133.38',
 '1135.13',
 '1136.88',
 '1138.63',
 '1140.38',
 '1142.13',
 '1143.88',
 '1145.63',
 '1147.38',
 '1149.13',
 '1150.88',
 '1152.63',
 '1154.38',
 '1156.13',
 '1157.88',
 '1159.63',
 '1161.38',
 '1163.13',
 '1164.88',
 '1166.63',
 '1168.38',
 '1170.13',
 '1171.88',
 '1173.63',
 '1175.38',
 '1177.13',
 '1178.88',
 '1180.63',
 '1182.38',
 '1184.13',
 '1185.88',
 '1187.63',
 '1189.38',
 '1191.13',
 '1192.88',
 '1194.63',
 '1196.38',
 '1198.13',
 '1199.88',
 '1201.63',
 '1203.38',
 '1205.13',
 '1206.88',
 '1208.63',
 '1210.38',
 '1212.13',
 '1213.88',
 '1215.63',
 '1217.38',
 '1219.13',
 '1220.88',
 '1222.63',
 '1224.38',
 '1226.13',
 '1227.88',
 '1229.63',
 '1231.38',
 '1233.13',
 '1234.88',
 '1236.63',
 '1238.38',
 '1240.13',
 '1241.88',
 '1243.63',
 '1245.38',
 '1247.13',
 '1248.88',
 '1250.63',
 '1252.38',
 '1254.13',
 '1255.88',
 '1257.63',
 '1259.38',
 '1261.13',
 '1262.88',
 '1264.63',
 '1266.38',
 '1268.13',
 '1269.88',
 '1271.63',
 '1273.38',
 '1275.13',
 '1276.88',
 '1278.63',
 '1280.38',
 '1282.13',
 '1283.88',
 '1285.63',
 '1287.38',
 '1289.13',
 '1290.88',
 '1292.63',
 '1294.38',
 '1296.13',
 '1297.88',
 '1299.63',
 '1301.38',
 '1303.13',
 '1304.88',
 '1306.63',
 '1308.38',
 '1310.13',
 '1311.88',
 '1313.63',
 '1315.38',
 '1317.13',
 '1318.88',
 '1320.63',
 '1322.38',
 '1324.13',
 '1325.88',
 '1327.63',
 '1329.38',
 '1331.13',
 '1332.88',
 '1334.63',
 '1336.38',
 '1338.13',
 '1339.88',
 '1341.63',
 '1343.38',
 '1345.13',
 '1346.88',
 '1348.63',
 '1350.38',
 '1352.13',
 '1353.88',
 '1355.63',
 '1357.38',
 '1359.13',
 '1360.88',
 '1362.63',
 '1364.38',
 '1366.13',
 '1367.88',
 '1369.63',
 '1371.38',
 '1373.13',
 '1374.88',
 '1376.63',
 '1378.38',
 '1380.13',
 '1381.88',
 '1383.63',
 '1385.38',
 '1387.13',
 '1388.88',
 '1390.63',
 '1392.38',
 '1394.13',
 '1395.88',
 '1397.63',
 '1399.38',
 '1401.13',
 '1402.88',
 '1404.63',
 '1406.38',
 '1408.13',
 '1409.88',
 '1411.63',
 '1413.38',
 '1415.13',
 '1416.88',
 '1418.63',
 '1420.38',
 '1422.13',
 '1423.88',
 '1425.63',
 '1427.38',
 '1429.13',
 '1430.88',
 '1432.63',
 '1434.38',
 '1436.13',
 '1437.88',
 '1439.63',
 '1441.38',
 '1443.13',
 '1444.88',
 '1446.63',
 '1448.38',
 '1450.13',
 '1451.88',
 '1453.63',
 '1455.38',
 '1457.13',
 '1458.88',
 '1460.63',
 '1462.38',
 '1464.13',
 '1465.88',
 '1467.63',
 '1469.38',
 '1471.13',
 '1472.88',
 '1474.63',
 '1476.38',
 '1478.13',
 '1479.88',
 '1481.63',
 '1483.38',
 '1485.13',
 '1486.88',
 '1488.63',
 '1490.38',
 '1492.13',
 '1493.88',
 '1495.63',
 '1497.38',
 '1499.13',
 '1500.88',
 '1502.63',
 '1504.38',
 '1506.13',
 '1507.88',
 '1509.63',
 '1511.38',
 '1513.13',
 '1514.88',
 '1516.63',
 '1518.38',
 '1520.13',
 '1521.88',
 '1523.63',
 '1525.38',
 '1527.13',
 '1528.88',
 '1530.63',
 '1532.38',
 '1534.13',
 '1535.88',
 '1537.63',
 '1539.38',
 '1541.13',
 '1542.88',
 '1544.63',
 '1546.38',
 '1548.13',
 '1549.88',
 '1551.63',
 '1553.38',
 '1555.13',
 '1556.88',
 '1558.63',
 '1560.38',
 '1562.13',
 '1563.88',
 '1565.63',
 '1567.38',
 '1569.13',
 '1570.88',
 '1572.63',
 '1574.38',
 '1576.13',
 '1577.88',
 '1579.63',
 '1581.38',
 '1583.13',
 '1584.88',
 '1586.63',
 '1588.38',
 '1590.13',
 '1591.88',
 '1593.63',
 '1595.38',
 '1597.13',
 '1598.88',
 '1600.63',
 '1602.38',
 '1604.13',
 '1605.88',
 '1607.63',
 '1609.38',
 '1611.13',
 '1612.88',
 '1614.63',
 '1616.38',
 '1618.13',
 '1619.88',
 '1621.63',
 '1623.38',
 '1625.13',
 '1626.88',
 '1628.63',
 '1630.38',
 '1632.13',
 '1633.88',
 '1635.63',
 '1637.38',
 '1639.13',
 '1640.88',
 '1642.63',
 '1644.38',
 '1646.13',
 '1647.88',
 '1649.63',
 '1651.38',
 '1653.13',
 '1654.88',
 '1656.63',
 '1658.38',
 '1660.13',
 '1661.88',
 '1663.63',
 '1665.38',
 '1667.13',
 '1668.88',
 '1670.63',
 '1672.38',
 '1674.13',
 '1675.88',
 '1677.63',
 '1679.38',
 '1681.13',
 '1682.88',
 '1684.63',
 '1686.38',
 '1688.13',
 '1689.88',
 '1691.63',
 '1693.38',
 '1695.13',
 '1696.88',
 '1698.63',
 '1700.38',
 '1702.13',
 '1703.88',
 '1705.63',
 '1707.38',
 '1709.13',
 '1710.88',
 '1712.63',
 '1714.38',
 '1716.13',
 '1717.88',
 '1719.63',
 '1721.38',
 '1723.13',
 '1724.88',
 '1726.63',
 '1728.38',
 '1730.13',
 '1731.88',
 '1733.63',
 '1735.38',
 '1737.13',
 '1738.88',
 '1740.63',
 '1742.38',
 '1744.13',
 '1745.88',
 '1747.63',
 '1749.38',
 '1751.13',
 '1752.88',
 'integration_time',
 'none',
 'moist',
 'ground']

In [26]:
df['process_method'].isna()

0      False
1      False
2      False
3      False
4      False
       ...
195     True
196     True
197     True
198     True
199     True
Name: process_method, Length: 400, dtype: bool

In [ ]:
df['Moisture']